json/flows.json
[{"id":"55494aa3.ae81d4","type":"tab","label":"Setting Wifi","disabled":false,"info":""},{"id":"50a1374c.615fa8","type":"tab","label":"Upload File","disabled":false,"info":""},{"id":"cfbc5f5a.a0c37","type":"tab","label":"Delete File","disabled":false,"info":""},{"id":"4f6b87ae.7d3bb","type":"subflow","name":"List Files","info":"# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n","category":"","in":[{"x":80,"y":80,"wires":[{"id":"cf0b484b.b70c9"}]}],"out":[{"x":840,"y":40,"wires":[{"id":"13486428.bcfc4c","port":0}]}],"env":[{"name":"DIRECTORY","type":"env","value":"/home/pi/player/image/"},{"name":"EXTENSIONS","type":"env","value":"*"}],"meta":{},"color":"#DDAA99"},{"id":"19ad2b6f.f11b85","type":"subflow","name":"FIle Upload","info":"","category":"","in":[],"out":[{"x":1140,"y":280,"wires":[{"id":"144a9c8f.af7e9b","port":0}]}],"env":[{"name":"UPLOAD_DIR","type":"str","value":"."},{"name":"EXTENSIONS","type":"json","value":"[]"}],"outputLabels":["fileWritten"]},{"id":"f54d3dd1.7bd16","type":"subflow","name":"FIle Upload (2)","info":"","category":"","in":[],"out":[{"x":1140,"y":280,"wires":[{"id":"cf2ab24f.ab282","port":0},{"id":"855f9ae9.1284e8","port":0}]}],"env":[{"name":"UPLOAD_DIR","type":"str","value":"."},{"name":"EXTENSIONS","type":"json","value":"[]"}],"outputLabels":["fileWritten"]},{"id":"2eccba5e.b68136","type":"subflow","name":"List Files","info":"# List files\n\nWill list files in a directory.\n\nPath can be set in `msg.payload` or by setting the `DIRECTORY` environment variable.\n\nExtensions can be filtered by settings the `EXTENSIONS` environment variable to an Array of extensions.\n","category":"","in":[{"x":80,"y":80,"wires":[{"id":"9b01c2f3.699f5"}]}],"out":[{"x":840,"y":40,"wires":[{"id":"6ea3937f.1e86dc","port":0}]}],"env":[{"name":"DIRECTORY","type":"str","value":""},{"name":"EXTENSIONS","type":"json","value":"[]"}],"meta":{},"color":"#DDAA99"},{"id":"fd639672.4a4b18","type":"subflow","name":"FIle Upload","info":"","category":"","in":[],"out":[{"x":1140,"y":280,"wires":[{"id":"54c9d410.3aef8c","port":0}]}],"env":[{"name":"UPLOAD_DIR","type":"str","value":"."},{"name":"EXTENSIONS","type":"json","value":"[]"}],"meta":{},"color":"#DDAA99","outputLabels":["fileWritten"]},{"id":"8b6e0197.1fb9a","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4a2b1cf3.693684","type":"ui_tab","name":"Device Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"95c8045c.7081a8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#091b77","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#2edcff","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#2edcff","edited":true},"page-titlebar-backgroundColor":{"value":"#2edcff","edited":false},"page-backgroundColor":{"value":"#1e00ff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#7ae9ff","edited":false},"group-borderColor":{"value":"#4a47ff","edited":true},"group-backgroundColor":{"value":"#563ba0","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#2edcff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Menu Settings","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c9168fdb.1b6f4","type":"ui_group","name":"RFID","tab":"b6b2c92b.5b9028","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e407480f.742ad8","type":"ui_tab","name":"Setting Wifi","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3296a550.fd038a","type":"ui_group","name":"Device Name","tab":"4a2b1cf3.693684","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"48418b79.0f5834","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"4178bf61.05d97","type":"ui_group","name":"File upload","tab":"f1b5a1b6.543fd8","order":4,"disp":true,"width":"6","collapse":false},{"id":"f1b5a1b6.543fd8","type":"ui_tab","name":"File Upload","icon":"dashboard","order":4},{"id":"ddf62e21.a3831","type":"ui_tab","name":"Device ID","icon":"dashboard","disabled":false,"hidden":false},{"id":"28471709.407308","type":"ui_group","name":"Device ID","tab":"ddf62e21.a3831","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c1e4ad0.f74115","type":"ui_tab","name":"BLE Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc1725bb.c24b58","type":"ui_group","name":"BLE Name","tab":"c1e4ad0.f74115","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b6b2c92b.5b9028","type":"ui_tab","name":"RFID","icon":"dashboard","disabled":false,"hidden":false},{"id":"f55841b1.9d07f","type":"ui_group","name":"Change Wifi","tab":"e407480f.742ad8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f1736eb9.a661c","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"398a8024.75e9","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":140,"wires":[["35cf398.4795fc6"]]},{"id":"35cf398.4795fc6","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"change_wifi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["f1736eb9.a661c","9f15a0d.3d3806"]]},{"id":"9c68349a.f8e8b8","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"f55841b1.9d07f","order":5,"width":"0","height":"0","passthru":false,"label":"SETTING","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"change_wifi","topicType":"str","x":100,"y":180,"wires":[["398a8024.75e9"]]},{"id":"41119b99.e6fe04","type":"comment","z":"55494aa3.ae81d4","name":"Setting WiFi","info":"","x":110,"y":40,"wires":[]},{"id":"b5c9dfc0.6f91c","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Passwd","label":"Passwd","tooltip":"","group":"f55841b1.9d07f","order":2,"width":"0","height":"0","passthru":true,"mode":"password","delay":300,"topic":"passwd","sendOnBlur":true,"className":"","topicType":"str","x":100,"y":140,"wires":[["398a8024.75e9"]]},{"id":"d770215c.2f6e9","type":"ui_text_input","z":"55494aa3.ae81d4","name":"SSID","label":"SSID","tooltip":"","group":"f55841b1.9d07f","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"ssid","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":100,"wires":[["398a8024.75e9"]]},{"id":"9f15a0d.3d3806","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"change_wifi","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":570,"y":100,"wires":[]},{"id":"b5a0d9f2.e8be08","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Device Name","label":"Device Name","tooltip":"","group":"3296a550.fd038a","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"name","sendOnBlur":true,"className":"","topicType":"str","x":120,"y":300,"wires":[["9ae8ccdf.404ae"]]},{"id":"9ae8ccdf.404ae","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":320,"wires":[["fda9bf50.5e28e"]]},{"id":"fda9bf50.5e28e","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device_name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["68d266b4.c60eb8","2a6f5c33.92e4c4"]]},{"id":"68d266b4.c60eb8","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"b88fd08b.dcffd","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"3296a550.fd038a","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"device_name","topicType":"str","x":100,"y":340,"wires":[["9ae8ccdf.404ae"]]},{"id":"2a6f5c33.92e4c4","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"device_name","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":570,"y":280,"wires":[]},{"id":"208379c0.81563e","type":"exec","z":"4f6b87ae.7d3bb","command":"ls","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":60,"wires":[["13486428.bcfc4c"],[],[]]},{"id":"13486428.bcfc4c","type":"change","z":"4f6b87ae.7d3bb","name":"split and filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"(    $files := [$split(payload, '\\n')[$ != \"\"]];    $count($env('EXTENSIONS')) = 0 ? [$files] : [$files[$split($, '.')[-1] in $env('EXTENSIONS')]];)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[[]]},{"id":"cf0b484b.b70c9","type":"switch","z":"4f6b87ae.7d3bb","name":"","property":"$env('DIRECTORY')","propertyType":"env","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["208379c0.81563e"],["56426a5a.fbc44c"]]},{"id":"56426a5a.fbc44c","type":"change","z":"4f6b87ae.7d3bb","name":"DIRECTORY","rules":[{"t":"set","p":"payload","pt":"msg","to":"DIRECTORY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["208379c0.81563e"]]},{"id":"954c0325.f4f63","type":"http in","z":"19ad2b6f.f11b85","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":140,"y":440,"wires":[["7433a631.a7f58","faf9ee8.6642a1"]]},{"id":"964d2a30.34e938","type":"http response","z":"19ad2b6f.f11b85","name":"","statusCode":"","headers":{},"x":850,"y":440,"wires":[]},{"id":"1617f361.5dac2d","type":"ui_template","z":"19ad2b6f.f11b85","group":"4178bf61.05d97","name":"Upload","order":1,"width":"6","height":"3","format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":120,"y":360,"wires":[[]]},{"id":"7433a631.a7f58","type":"change","z":"19ad2b6f.f11b85","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["63e6ebc1.1cc124"]]},{"id":"10c1284a.0e3f98","type":"file","z":"19ad2b6f.f11b85","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":830,"y":340,"wires":[["144a9c8f.af7e9b"]]},{"id":"b54a9427.62f75","type":"catch","z":"19ad2b6f.f11b85","name":"","scope":null,"x":120,"y":500,"wires":[["1a19fda8.e72fd2"]]},{"id":"563135cc.7b97e4","type":"ui_toast","z":"19ad2b6f.f11b85","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":530,"y":500,"wires":[]},{"id":"1a19fda8.e72fd2","type":"change","z":"19ad2b6f.f11b85","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":500,"wires":[["563135cc.7b97e4"]]},{"id":"15ae2641.f1cc7a","type":"link out","z":"19ad2b6f.f11b85","name":"refreshAfterUpload","links":["bdb6a329.8574b"],"x":1135,"y":340,"wires":[]},{"id":"faf9ee8.6642a1","type":"change","z":"19ad2b6f.f11b85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["964d2a30.34e938"]]},{"id":"63e6ebc1.1cc124","type":"switch","z":"19ad2b6f.f11b85","name":"extensionAllowed ?","property":"$env('EXTENSIONS')","propertyType":"jsonata","rules":[{"t":"cont","v":"$split(filename, '.')[-1]","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":360,"wires":[["10c1284a.0e3f98"],["e34d7e40.c64b5"]]},{"id":"e34d7e40.c64b5","type":"function","z":"19ad2b6f.f11b85","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":0,"noerr":0,"x":830,"y":380,"wires":[]},{"id":"144a9c8f.af7e9b","type":"change","z":"19ad2b6f.f11b85","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["15ae2641.f1cc7a"]]},{"id":"3696af61.5b451","type":"subflow:19ad2b6f.f11b85","z":"50a1374c.615fa8","name":"","env":[{"name":"UPLOAD_DIR","value":"/home/pi/player/image/","type":"str"},{"name":"EXTENSIONS","value":"*.png","type":"str"}],"x":250,"y":140,"wires":[[]]},{"id":"2ad344d1.4f7dfc","type":"http in","z":"f54d3dd1.7bd16","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":140,"y":440,"wires":[["15d73ce5.8461a3","f9a7c4fe.5dd2a8"]]},{"id":"1299c920.c0cd37","type":"http response","z":"f54d3dd1.7bd16","name":"","statusCode":"","headers":{},"x":850,"y":440,"wires":[]},{"id":"518887b.9f1a978","type":"ui_template","z":"f54d3dd1.7bd16","group":"4178bf61.05d97","name":"Upload","order":1,"width":"6","height":"3","format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n    <input type=\"file\" name=\"file1\" id=\"file1\"><br>\n    <input type=\"button\" value=\"Upload File\" onclick=\"uploadFile()\">\n    <progress id=\"progressBar\" value=\"0\" max=\"100\" style=\"width:300px;\"></progress>\n    <p id=\"status\"></p>\n    <p id=\"loaded_n_total\"></p>\n</form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":120,"y":400,"wires":[[]]},{"id":"5b69989a.763ad8","type":"subflow:4f6b87ae.7d3bb","z":"f54d3dd1.7bd16","name":"","env":[{"name":"DIRECTORY","value":"UPLOAD_DIR","type":"env"},{"name":"EXTENSIONS","value":"EXTENSIONS","type":"env"}],"x":380,"y":140,"wires":[["76c5b912.1bffa8"]]},{"id":"43a5f43c.65f1ec","type":"ui_dropdown","z":"f54d3dd1.7bd16","name":"","label":"","tooltip":"","place":"Select option","group":"4178bf61.05d97","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":750,"y":140,"wires":[["f341dc4e.f9d5f"]]},{"id":"40ecf2b1.0037cc","type":"link in","z":"f54d3dd1.7bd16","name":"refreshFileDropdown","links":["3adb7bff.a10be4","bc574170.87c9a"],"x":75,"y":140,"wires":[["9a6ec8b2.89bd98"]]},{"id":"94dbcf2f.90b45","type":"ui_button","z":"f54d3dd1.7bd16","name":"","group":"4178bf61.05d97","order":0,"width":0,"height":0,"passthru":false,"label":"Delete","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[["7b7a0df.98457f4"]]},{"id":"f341dc4e.f9d5f","type":"change","z":"f54d3dd1.7bd16","name":"","rules":[{"t":"set","p":"selectedFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[[]]},{"id":"15d73ce5.8461a3","type":"change","z":"f54d3dd1.7bd16","name":"getFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["21cd8c67.b2d2d4"]]},{"id":"9e5bdaf1.fc3648","type":"file","z":"f54d3dd1.7bd16","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":830,"y":340,"wires":[["cf2ab24f.ab282"]]},{"id":"f6a3b0fa.67826","type":"inject","z":"f54d3dd1.7bd16","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":80,"wires":[["9a6ec8b2.89bd98"]]},{"id":"7b7a0df.98457f4","type":"change","z":"f54d3dd1.7bd16","name":"getSelectedFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Delete File ?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["98305c36.181e4"]]},{"id":"855f9ae9.1284e8","type":"file","z":"f54d3dd1.7bd16","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":830,"y":220,"wires":[["bc574170.87c9a"]]},{"id":"98305c36.181e4","type":"ui_toast","z":"f54d3dd1.7bd16","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":470,"y":220,"wires":[["e90e85e8.d98cb8"]]},{"id":"e90e85e8.d98cb8","type":"switch","z":"f54d3dd1.7bd16","name":"OK ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":220,"wires":[["855f9ae9.1284e8"]]},{"id":"e2c48528.120428","type":"catch","z":"f54d3dd1.7bd16","name":"","scope":null,"x":120,"y":500,"wires":[["79e1abcd.e951b4"]]},{"id":"7d94f8ed.4066f8","type":"ui_toast","z":"f54d3dd1.7bd16","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":530,"y":500,"wires":[]},{"id":"79e1abcd.e951b4","type":"change","z":"f54d3dd1.7bd16","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":500,"wires":[["7d94f8ed.4066f8"]]},{"id":"bc574170.87c9a","type":"link out","z":"f54d3dd1.7bd16","name":"refreshAfterDelete","links":["40ecf2b1.0037cc"],"x":1135,"y":220,"wires":[]},{"id":"3adb7bff.a10be4","type":"link out","z":"f54d3dd1.7bd16","name":"refreshAfterUpload","links":["40ecf2b1.0037cc"],"x":1135,"y":340,"wires":[]},{"id":"f9a7c4fe.5dd2a8","type":"change","z":"f54d3dd1.7bd16","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'File ' & req.files[0].originalname & ' uploaded.'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["1299c920.c0cd37"]]},{"id":"9a6ec8b2.89bd98","type":"delay","z":"f54d3dd1.7bd16","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":140,"wires":[["5b69989a.763ad8"]]},{"id":"64626c0f.f24094","type":"watch","z":"f54d3dd1.7bd16","name":"","files":"$(UPLOAD_DIR)","recursive":"","x":140,"y":40,"wires":[["9a6ec8b2.89bd98"]]},{"id":"76c5b912.1bffa8","type":"change","z":"f54d3dd1.7bd16","name":"options","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["43a5f43c.65f1ec"]]},{"id":"21cd8c67.b2d2d4","type":"switch","z":"f54d3dd1.7bd16","name":"extensionAllowed ?","property":"$env('EXTENSIONS')","propertyType":"jsonata","rules":[{"t":"cont","v":"$split(filename, '.')[-1]","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":360,"wires":[["9e5bdaf1.fc3648"],["c95a633c.dba12"]]},{"id":"c95a633c.dba12","type":"function","z":"f54d3dd1.7bd16","name":"Error","func":"node.error(`Error: only ${env.get('EXTENSIONS')} files are allowed.`, msg)\n","outputs":0,"noerr":0,"x":830,"y":380,"wires":[]},{"id":"cf2ab24f.ab282","type":"change","z":"f54d3dd1.7bd16","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":340,"wires":[["3adb7bff.a10be4"]]},{"id":"8c207059.8130d","type":"exec","z":"2eccba5e.b68136","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":60,"wires":[["6ea3937f.1e86dc"],[],[]]},{"id":"6ea3937f.1e86dc","type":"change","z":"2eccba5e.b68136","name":"split and filter","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t    $files := [$split(payload, '\\n')[$ != \"\"]];\t    $count($env('EXTENSIONS')) = 0 ? [$files] : [$files[$split($, '.')[-1] in $env('EXTENSIONS')]];\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[[]]},{"id":"9b01c2f3.699f5","type":"switch","z":"2eccba5e.b68136","name":"","property":"$env('DIRECTORY')","propertyType":"jsonata","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":80,"wires":[["8c207059.8130d"],["f4f40802.b752e8"]]},{"id":"f4f40802.b752e8","type":"change","z":"2eccba5e.b68136","name":"DIRECTORY","rules":[{"t":"set","p":"payload","pt":"msg","to":"DIRECTORY","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["8c207059.8130d"]]},{"id":"f26f9ff8.7f4c7","type":"subflow:2eccba5e.b68136","z":"fd639672.4a4b18","name":"","env":[{"name":"DIRECTORY","value":"UPLOAD_DIR","type":"env"},{"name":"EXTENSIONS","value":"EXTENSIONS","type":"env"}],"x":370,"y":140,"wires":[["fe2a43b2.b884a"]]},{"id":"af21f5ac.6c4ec8","type":"ui_dropdown","z":"fd639672.4a4b18","name":"","label":"","tooltip":"","place":"Select option","group":"4178bf61.05d97","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":750,"y":140,"wires":[["b1f03e89.1605b"]]},{"id":"4f502a24.ed8dc4","type":"link in","z":"fd639672.4a4b18","name":"refreshFileDropdown","links":["1c06829e.7f1fcd","904d3b52.832428"],"x":75,"y":140,"wires":[["9024df79.51c49"]]},{"id":"bac394b5.a9b288","type":"ui_button","z":"fd639672.4a4b18","name":"","group":"4178bf61.05d97","order":0,"width":0,"height":0,"passthru":false,"label":"Delete","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":220,"wires":[["47561823.df8df8"]]},{"id":"b1f03e89.1605b","type":"change","z":"fd639672.4a4b18","name":"","rules":[{"t":"set","p":"selectedFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":140,"wires":[[]]},{"id":"14583909.4dad77","type":"inject","z":"fd639672.4a4b18","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":80,"wires":[["9024df79.51c49"]]},{"id":"47561823.df8df8","type":"change","z":"fd639672.4a4b18","name":"getSelectedFile","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & $flowContext('selectedFile')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"Delete File ?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":220,"wires":[["39866c54.f9ccd4"]]},{"id":"54c9d410.3aef8c","type":"file","z":"fd639672.4a4b18","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":830,"y":220,"wires":[["904d3b52.832428"]]},{"id":"39866c54.f9ccd4","type":"ui_toast","z":"fd639672.4a4b18","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"","x":470,"y":220,"wires":[["1a688aef.339fa5"]]},{"id":"1a688aef.339fa5","type":"switch","z":"fd639672.4a4b18","name":"OK ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":220,"wires":[["54c9d410.3aef8c"]]},{"id":"904d3b52.832428","type":"link out","z":"fd639672.4a4b18","name":"refreshAfterDelete","links":["4f502a24.ed8dc4"],"x":1135,"y":220,"wires":[]},{"id":"9024df79.51c49","type":"delay","z":"fd639672.4a4b18","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":140,"wires":[["f26f9ff8.7f4c7"]]},{"id":"b755d82e.907a88","type":"watch","z":"fd639672.4a4b18","name":"","files":"$(UPLOAD_DIR)","recursive":"","x":140,"y":40,"wires":[["9024df79.51c49"]]},{"id":"fe2a43b2.b884a","type":"change","z":"fd639672.4a4b18","name":"options","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":140,"wires":[["af21f5ac.6c4ec8"]]},{"id":"2d8c82d1.72e7ce","type":"subflow:fd639672.4a4b18","z":"cfbc5f5a.a0c37","name":"","env":[{"name":"UPLOAD_DIR","value":"/home/pi/player/image/","type":"str"}],"x":370,"y":280,"wires":[[]]},{"id":"998fc5c.ae90338","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Device ID","label":"Device ID","tooltip":"","group":"28471709.407308","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"id","sendOnBlur":true,"className":"","topicType":"str","x":100,"y":480,"wires":[["bab93504.2a0988"]]},{"id":"bab93504.2a0988","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":500,"wires":[["aaeeba33.f366e8"]]},{"id":"aaeeba33.f366e8","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device_id","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":500,"wires":[["d1fad783.88a688","3167e60b.55494a"]]},{"id":"d1fad783.88a688","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"e5de733d.ae67f","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"28471709.407308","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"device_id","topicType":"str","x":100,"y":520,"wires":[["bab93504.2a0988"]]},{"id":"3167e60b.55494a","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"device_id","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":460,"wires":[]},{"id":"35bc7d09.f0d172","type":"ui_text_input","z":"55494aa3.ae81d4","name":"BLE Name","label":"BLE Name","tooltip":"","group":"fc1725bb.c24b58","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"ble","sendOnBlur":true,"className":"","topicType":"str","x":110,"y":660,"wires":[["6905972.b173968"]]},{"id":"6905972.b173968","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":680,"wires":[["36754a0b.7c7a76"]]},{"id":"36754a0b.7c7a76","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ble_name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":680,"wires":[["9d4e555b.b96e58","5cf9e3eb.c2e88c"]]},{"id":"9d4e555b.b96e58","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":720,"wires":[]},{"id":"3438133e.d27b8c","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"fc1725bb.c24b58","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"ble_name","topicType":"str","x":100,"y":700,"wires":[["6905972.b173968"]]},{"id":"5cf9e3eb.c2e88c","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"ble_name","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":640,"wires":[]},{"id":"eaf78736.9a3ba8","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":840,"wires":[["76101fd2.38667"]]},{"id":"76101fd2.38667","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rfid_id1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":840,"wires":[["d707fb81.33e708"]]},{"id":"674695f7.db405c","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"c9168fdb.1b6f4","order":5,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"rfid_id2","topicType":"str","x":80,"y":1020,"wires":[["1039366e.fd62aa"]]},{"id":"84408ae2.049058","type":"ui_text_input","z":"55494aa3.ae81d4","name":"User1","label":"User1","tooltip":"","group":"c9168fdb.1b6f4","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"user1","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":800,"wires":[["eaf78736.9a3ba8"]]},{"id":"d707fb81.33e708","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"rfid_user1","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":840,"wires":[]},{"id":"a7270e87.3c0e","type":"ui_text_input","z":"55494aa3.ae81d4","name":"","label":"User2","tooltip":"","group":"c9168fdb.1b6f4","order":2,"width":"6","height":"1","passthru":true,"mode":"number","delay":300,"topic":"user2","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":980,"wires":[["1039366e.fd62aa"]]},{"id":"cb6aef00.661b7","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"c9168fdb.1b6f4","order":3,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"rfid_id1","topicType":"str","x":80,"y":840,"wires":[["eaf78736.9a3ba8"]]},{"id":"1039366e.fd62aa","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":1000,"wires":[["7e356b59.d1fb84"]]},{"id":"7e356b59.d1fb84","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rfid_id2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1000,"wires":[["4b9658a2.98f568"]]},{"id":"4b9658a2.98f568","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"rfid_user2","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":1000,"wires":[]},{"id":"65573ec3.4385e","type":"ui_button","z":"55494aa3.ae81d4","name":"","group":"c9168fdb.1b6f4","order":4,"width":"3","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"user1\":\"delete\"}","payloadType":"json","topic":"delete_id1","topicType":"msg","x":390,"y":900,"wires":[["d707fb81.33e708"]]},{"id":"14fc9bb.6ee2a64","type":"ui_button","z":"55494aa3.ae81d4","name":"Delete","group":"c9168fdb.1b6f4","order":5,"width":"3","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"user2\":\"delete\"}","payloadType":"json","topic":"delete_id2","topicType":"msg","x":390,"y":1060,"wires":[["4b9658a2.98f568"]]}]