json/smartplayer.json
[{"id":"55494aa3.ae81d4","type":"tab","label":"Setting Wifi","disabled":false,"info":""},{"id":"f1736eb9.a661c","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"398a8024.75e9","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":140,"wires":[["35cf398.4795fc6"]]},{"id":"35cf398.4795fc6","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"change_wifi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":140,"wires":[["f1736eb9.a661c","9f15a0d.3d3806"]]},{"id":"9c68349a.f8e8b8","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"f55841b1.9d07f","order":5,"width":"0","height":"0","passthru":false,"label":"SETTING","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"change_wifi","topicType":"str","x":100,"y":180,"wires":[["398a8024.75e9"]]},{"id":"41119b99.e6fe04","type":"comment","z":"55494aa3.ae81d4","name":"Setting WiFi","info":"","x":110,"y":40,"wires":[]},{"id":"b5c9dfc0.6f91c","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Passwd","label":"Passwd","tooltip":"","group":"f55841b1.9d07f","order":2,"width":"0","height":"0","passthru":true,"mode":"password","delay":300,"topic":"passwd","sendOnBlur":true,"className":"","topicType":"str","x":100,"y":140,"wires":[["398a8024.75e9"]]},{"id":"d770215c.2f6e9","type":"ui_text_input","z":"55494aa3.ae81d4","name":"SSID","label":"SSID","tooltip":"","group":"f55841b1.9d07f","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"ssid","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":100,"wires":[["398a8024.75e9"]]},{"id":"9f15a0d.3d3806","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"change_wifi","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":570,"y":100,"wires":[]},{"id":"b5a0d9f2.e8be08","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Device Name","label":"Device Name","tooltip":"","group":"3296a550.fd038a","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"name","sendOnBlur":true,"className":"","topicType":"str","x":120,"y":300,"wires":[["9ae8ccdf.404ae"]]},{"id":"9ae8ccdf.404ae","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":320,"wires":[["fda9bf50.5e28e"]]},{"id":"fda9bf50.5e28e","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device_name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["68d266b4.c60eb8","2a6f5c33.92e4c4"]]},{"id":"68d266b4.c60eb8","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"b88fd08b.dcffd","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"3296a550.fd038a","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"device_name","topicType":"str","x":100,"y":340,"wires":[["9ae8ccdf.404ae"]]},{"id":"2a6f5c33.92e4c4","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"device_name","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":570,"y":280,"wires":[]},{"id":"998fc5c.ae90338","type":"ui_text_input","z":"55494aa3.ae81d4","name":"Device ID","label":"Device ID","tooltip":"","group":"28471709.407308","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"id","sendOnBlur":true,"className":"","topicType":"str","x":100,"y":480,"wires":[["bab93504.2a0988"]]},{"id":"bab93504.2a0988","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":500,"wires":[["aaeeba33.f366e8"]]},{"id":"aaeeba33.f366e8","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device_id","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":500,"wires":[["d1fad783.88a688","3167e60b.55494a"]]},{"id":"d1fad783.88a688","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"e5de733d.ae67f","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"28471709.407308","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"device_id","topicType":"str","x":100,"y":520,"wires":[["bab93504.2a0988"]]},{"id":"3167e60b.55494a","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"device_id","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":460,"wires":[]},{"id":"35bc7d09.f0d172","type":"ui_text_input","z":"55494aa3.ae81d4","name":"BLE Name","label":"BLE Name","tooltip":"","group":"fc1725bb.c24b58","order":0,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"ble","sendOnBlur":true,"className":"","topicType":"str","x":110,"y":660,"wires":[["6905972.b173968"]]},{"id":"6905972.b173968","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":680,"wires":[["36754a0b.7c7a76"]]},{"id":"36754a0b.7c7a76","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ble_name","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":680,"wires":[["9d4e555b.b96e58","5cf9e3eb.c2e88c"]]},{"id":"9d4e555b.b96e58","type":"debug","z":"55494aa3.ae81d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":720,"wires":[]},{"id":"3438133e.d27b8c","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"fc1725bb.c24b58","order":0,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"ble_name","topicType":"str","x":100,"y":700,"wires":[["6905972.b173968"]]},{"id":"5cf9e3eb.c2e88c","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"ble_name","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":640,"wires":[]},{"id":"eaf78736.9a3ba8","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":840,"wires":[["76101fd2.38667"]]},{"id":"76101fd2.38667","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rfid_id1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":840,"wires":[["d707fb81.33e708"]]},{"id":"674695f7.db405c","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"c9168fdb.1b6f4","order":5,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"rfid_id2","topicType":"str","x":80,"y":1020,"wires":[["1039366e.fd62aa"]]},{"id":"84408ae2.049058","type":"ui_text_input","z":"55494aa3.ae81d4","name":"User1","label":"User1","tooltip":"","group":"c9168fdb.1b6f4","order":1,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"user1","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":800,"wires":[["eaf78736.9a3ba8"]]},{"id":"d707fb81.33e708","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"rfid_user1","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":840,"wires":[]},{"id":"a7270e87.3c0e","type":"ui_text_input","z":"55494aa3.ae81d4","name":"","label":"User2","tooltip":"","group":"c9168fdb.1b6f4","order":2,"width":"6","height":"1","passthru":true,"mode":"number","delay":300,"topic":"user2","sendOnBlur":true,"className":"","topicType":"str","x":90,"y":980,"wires":[["1039366e.fd62aa"]]},{"id":"cb6aef00.661b7","type":"ui_button","z":"55494aa3.ae81d4","name":"Submit","group":"c9168fdb.1b6f4","order":3,"width":"3","height":"1","passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{}","payloadType":"global","topic":"rfid_id1","topicType":"str","x":80,"y":840,"wires":[["eaf78736.9a3ba8"]]},{"id":"1039366e.fd62aa","type":"join","z":"55494aa3.ae81d4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":1000,"wires":[["7e356b59.d1fb84"]]},{"id":"7e356b59.d1fb84","type":"switch","z":"55494aa3.ae81d4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rfid_id2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1000,"wires":[["4b9658a2.98f568"]]},{"id":"4b9658a2.98f568","type":"mqtt out","z":"55494aa3.ae81d4","name":"","topic":"rfid_user2","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8b6e0197.1fb9a","x":560,"y":1000,"wires":[]},{"id":"65573ec3.4385e","type":"ui_button","z":"55494aa3.ae81d4","name":"","group":"c9168fdb.1b6f4","order":4,"width":"3","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"user1\":\"delete\"}","payloadType":"json","topic":"delete_id1","topicType":"msg","x":390,"y":900,"wires":[["d707fb81.33e708"]]},{"id":"14fc9bb.6ee2a64","type":"ui_button","z":"55494aa3.ae81d4","name":"Delete","group":"c9168fdb.1b6f4","order":5,"width":"3","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"user2\":\"delete\"}","payloadType":"json","topic":"delete_id2","topicType":"msg","x":390,"y":1060,"wires":[["4b9658a2.98f568"]]},{"id":"f55841b1.9d07f","type":"ui_group","name":"Change Wifi","tab":"e407480f.742ad8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8b6e0197.1fb9a","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3296a550.fd038a","type":"ui_group","name":"Device Name","tab":"4a2b1cf3.693684","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"28471709.407308","type":"ui_group","name":"Device ID","tab":"ddf62e21.a3831","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fc1725bb.c24b58","type":"ui_group","name":"BLE Name","tab":"c1e4ad0.f74115","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c9168fdb.1b6f4","type":"ui_group","name":"RFID","tab":"b6b2c92b.5b9028","order":3,"disp":true,"width":"12","collapse":false,"className":""},{"id":"e407480f.742ad8","type":"ui_tab","name":"Setting Wifi","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"4a2b1cf3.693684","type":"ui_tab","name":"Device Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"ddf62e21.a3831","type":"ui_tab","name":"Device ID","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1e4ad0.f74115","type":"ui_tab","name":"BLE Name","icon":"dashboard","disabled":false,"hidden":false},{"id":"b6b2c92b.5b9028","type":"ui_tab","name":"RFID","icon":"dashboard","disabled":false,"hidden":false}]
